@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,300;0,500;1,200;1,600&family=Lobster&family=Rubik+Iso&family=Ubuntu:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: Ubuntu;
    font-weight: 500;
    background-image: url(./assets/images/dark.jpg);
    background-position: center;
    background-size: cover;
}
nav ul li,
ul li{
    display: inline-block;
    padding: 0 20px;
    transition: .5s;
    cursor: pointer;
}
nav ul li:hover {
    color: rgb(194, 35, 14);
}
/* login */

form input {
    width: 100%;
    padding: 20px;
    border:none;
    outline: none;
    font-size: 1.2rem;
}
table tr td {
    border: 1px solid #fff;
    padding: 20px;
}